<footer class="footer">
    <ul class="social-icon">
        <li class="social-icon__item">
            <a class="social-icon__link" href="#">
                <i class="fa-brands fa-github" style="color: #ffffff;"></i>
            </a>
        </li>
        <li class="social-icon__item">
            <a class="social-icon__link" href="#">
                <i class="fa-brands fa-linkedin-in" style="color: #ffffff;"></i>
            </a>
        </li>
        <li class="social-icon__item">
            <a class="social-icon__link" href="#">
                <i class="fa-solid fa-rocket" style="color: #ffffff;"></i>
            </a>
        </li>
        <li class="social-icon__item">
            <a class="social-icon__link" href="#">
                <ion-icon name="logo-instagram"></ion-icon>
            </a>
        </li>
    </ul>

    <p>2023 Akshay Sadalgekar - Made with <i class="fa-solid fa-heart" style="color: #bd0000;"> </i>, HTML, CSS, JavaScript, Node & Express</p>
</footer>

<script src="js/script.js"></script>
</body>

</html>